---
import './src/styles/global.css'
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PA 3 - Menu de restaurante</title>
</head>
<body>

    <h1>Menu de restaurante</h1>
    <label for="plato">Nombre del plato:</label>
    <input type="text" id="plato" name="plato">
    <br>
    <label for="precio">Precio:</label>
    <input type="text" id="precio" name="precio">
    <br>
    <label for="categoria">Categoria:</label>
    <select id="categoria" name="categoria" class="max-w-sm mx-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="entrada">Entrada</option>
        <option value="fuertes">Platos fuertes</option>
        <option value="postres">Postres</option>
    </select>
    <br>
    <button type="button" id="boton" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Añadir</button>

</body>